<div class="links">
  <form class="example-form" [formGroup]="searchForm" (ngSubmit)="getIndicatorData()">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Выберите компанию</mat-label>
      <input type="text" matInput formControlName="company" [matAutocomplete]="companies">
      <mat-autocomplete #companies="matAutocomplete" [displayWith]="displayFn">
        @for (option of companyFilteredOptions | async; track option) {
          <mat-option [value]="option">{{option.name}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Выберите блок</mat-label>
      <input type="text" matInput formControlName="indicator" [matAutocomplete]="blocks">
      <mat-autocomplete #blocks="matAutocomplete" [displayWith]="displayFn">
        @for (option of blockFilteredOptions | async; track option) {
          <mat-option [value]="option">{{option.name}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <button mat-flat-button color="primary">
      <div class="spinner-button" style="">
        <mat-spinner *ngIf="isLoading" color="warn" diameter="20" style=""></mat-spinner>
        СФОРМИРОВАТЬ
      </div>
    </button>
  </form>
</div>

<mat-card *ngIf="activeComponentTemplate">
  <mat-card-content>
    <ng-container *ngComponentOutlet="activeComponentTemplate; inputs: {activeComponent: activeComponent[0]}"/>
  </mat-card-content>
</mat-card>

<div class="blocks">
  <router-outlet></router-outlet>
</div>


