:host {
  display: flex;
  padding: 16px;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.links {
  flex: 1 1 60px;
}

.example-form {
  display: flex;
  gap: 20px;
  align-items: flex-start;

  button {
    height: 56px;
    width: 300px;
  }
}

.example-full-width {
  width: 500px;
}

.blocks {
  flex: 1 1 100%;
  position: relative;
}
